<div class="wrapper">
  <div class ="side">
    <div class = "chat_name">
      <div class = "user_name">Ryusei</div>
      <div class = "chat_btn">チャットを作成する</div>
    </div>
    <div class = "chat_room_name">
      <div class = "room">techroom1</div>
      <div class = "room">techroom2</div>
      <div class = "room">techroom3</div>
      <div class = "room">techroom4</div>
      <div class = "room">techroom5</div>
      <div class = "room">techroom6</div>
      <div class = "room">techroom7</div>
      <div class = "room">techroom8</div>
      <div class = "room">techroom9</div>
      <div class = "room">techroom10</div>
      <div class = "room">techroom11</div>
      <div class = "room">techroom12</div>
      <div class = "room">techroom13</div>
    </div>
  </div>
  <div class = "main">
    <div class = "chat_title"></div>
    <div class = "chat_room"></div>
    <div class = "chat_underbar"></div>
  </div>
</div>
