<div class="wrapper">
  <div class ="side">
    <%= render "side_bar" %>
    <div class = "chat_name"></div>
    <div class = "chat_room_name"></div>
  </div>
  <div class = "main">
    <%= render "main_chat" %>
    <div class = "chat_title"></div>
    <div class = "chat_room"></div>
    <div class = "chat_underbar"></div>
  </div>
</div>
